# Build Folders
bin/
obj/

# Avalonia Designer
*.designer.cs

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE files
.idea/
*.sln.iml

# Visual Studio Code files
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Dependency directories
packages/
.vscode-test/

# OS-specific files
.DS_Store
Thumbs.db
